body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
h1 {
    text-align: center;
}
  
.btn {
    display: block;
    width: 200px;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}
  
.btn:hover {
    background-color: #45a049;
}

.navbar{
    position: absolute;
    background-color: #45a049;
    height: 100%;
    width: 20vh;
    position: absolute;
    position: fixed;
    padding: 10px;
}

.navbar ul li{
    list-style: none;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 10px;
    border-left: 10px solid rgba(255, 166, 0, 0);
}

.navbar ul li:hover{
    border-left: 10px solid orange;
    transition: .3s
}